<h3>Borrow</h3>
<div class="card card-body">
    <table>
        <thead>
            <tr>
                <th scope="col" class="py-2 ps-2 pe-5 fs-5">Open a vault</th>
                <th scope="col" class="py-2 ps-2 pe-5">Stablecoin</th>
                <th scope="col" class="py-2 ps-2 pe-5">Interest Rate</th>
                <th scope="col" class="py-2 ps-2 pe-5">Liquidation Fee</th>
                <th scope="col" class="py-2 ps-2 pe-5">Max. LTV</th>
                <th scope="col" class="py-2 ps-2 pe-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td class="py-2 ps-2 pe-5"><img src="assets/img/lusd.png" width="25rem" height="25rem"
                        style="border-radius: 50%;" class="p-1">LUSD</td>
                <td class="py-2 ps-2 pe-5"><img src="assets/img/ageur_large.png" width="30rem" height="30rem"
                        class="p-1">agEUR</td>
                <td class="py-2 ps-2 pe-5">0.5%</td>
                <td class="py-2 ps-2 pe-5">2%</td>
                <td class="py-2 ps-2 pe-5">88%</td>
                <td class="py-2 ps-2 pe-5"><a routerLink="/borrow-detail" type="button" class="btn btn-warning">Borrow</a></td>
            </tr>
        </tbody>
    </table>
</div>