<header></header>
<div *ngIf="signer" class="sideMenu text-center pt-4">
  <img width="148" height="60" class="img-fluid" src="assets/img/encode.png" alt="">
  <div class="px-3 pt-4">
    <ul class="list-unstyled text-white">
      <li *ngFor="let item of menuItems" class="mb-2 text-start">

        <a class="text-dark btn btn-light w-100" routerLink="{{item.route}}">{{item.title}}</a>
      </li>
    </ul>
  </div>

</div>
<div *ngIf="!signer" class="px-4 py-4 my-5 text-center">
  <h1 class="display-5 fw-bold">Lending</h1>
  <div class="col-lg-6 mx-auto">
    <h2>Turkish Lira borrow and lending protocol</h2>
    <p>To borrow you need to connect your wallet</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        (click)="connectWallet()"
        type="button"
        class="btn btn-danger btn-lg px-4 gap-3"
        
      >
        Connect Wallet
      </button>
    </div>
  </div>
</div>
<div class="mainContainer">
  <router-outlet></router-outlet>
</div>
