<div *ngIf="authorized" class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <div class="thisAvatar me-2">
                    </div>
                    <h3 class="m-0">peggedTurkishLira ( pTRY )</h3>
                </div>

                <p>peggedTurkishLira balance: 0 pTRY</p>
                <hr>
                <a routerLink="/borrow" class="btn btn-warning mx-2">Borrow</a>
            </div>
        </div>
    </div>
</div>
