<h3>Borrow</h3>
<div class="card card-body col-6 mb-3">
    <div class="d-flex align-items-center justify-content-between py-1">
        <div>Add Collateral</div>
        <div>Balance: 0</div>
    </div>
    <div class="d-flex align-items-center justify-content-between py-1">
        <div class="fs-5">0.0</div>
        <div>
            <button type="button" class="btn btn-outline-dark mx-1">MAX</button>
            <button type="button" class="btn btn-outline-dark"><img src="assets/img/lusd.png" width="25rem"
                    height="25rem" style="border-radius: 50%;" class="p-1">LUSD</button>
        </div>
    </div>
</div>
<div class="card card-body col-6 mb-3">
    <div class="d-flex align-items-center justify-content-between py-1">
        <div>Borrow Stablecoin</div>
        <div>Debt Limit: 0</div>
    </div>
    <div class="d-flex align-items-center justify-content-between py-1">
        <div class="fs-5">0.0</div>
        <div>
            <button type="button" class="btn btn-outline-dark"><img src="assets/img/ageur_large.png" width="30rem"
                    height="30rem" class="p-1">agEUR</button>
        </div>
    </div>
</div>
<button type="button" class="btn btn-warning">SEND</button>